.information_box {
    position: absolute;
    top: 3.5rem;
    left: 0;
    right: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin: auto;
    margin-top: 2rem;
    
}

.information {
    padding-inline: 2rem;
    padding-block: 0.75rem;
    border-radius: 10px;
    background-color: rgba(19, 94, 0, 0.95);
}

.information p {
    color: #fff;
    font-size: 2rem;
}