.password {
    display: flex;
    align-items: center;
    padding: 1rem 1.5rem;
}

.security_indicator {
    height: 10px;
    background-color: #ddd;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.bar {
    height: 10px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-top-right-radius: 8px;
    transition: all 0.2s;
}

.security_indicator .bar.completed {
    border-top-right-radius: 0;
}

.security_indicator .bar.critical {
    background-color: #eb5757;
}

.security_indicator .bar.warning {
    background-color: #f2c94c;
}

.security_indicator .bar.safe {
    background-color: #27ae60;
}